*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    
}
html{
    height: 100%;
    width: 100%;
}
body{
    height: 100%;
    width: 100%;
    line-height: 1.6;
    position: fixed;
    overflow: hidden;
    
}

header{
    top: 0;
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 0;
}

.load{
    z-index: 4;
    width: 80%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    position: relative;
    animation: load 0.5s cubic-bezier(1, 0.01, 1, 0.61);
}

.scrolled1{
    animation: move1 0.5s ease-in both;
}

@keyframes move1 {
    0%{
        height: 140vh;
    }
    99%{
        height: 100px;
        top: 30px;
        width: 100px; 
    }
    100%{
        position: fixed;
        height: 100px;
        top: 30px;
        width: 100px;  
    }
}

.scrolled2{
    animation: move2 0.5s ease-in both; 
}

@keyframes move2 {
    0%{
        background-color: #A6192E;
        height: 100vh;
        width: 100%;
    }
    100%{
        background-color: #A6192E;
        height: 0px;
        top: 0px;
        /* position: fixed;         */
    }
}

@keyframes load{
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}


#stars path{
    animation: star 0.2s both cubic-bezier(0, 0.45, 0.58, 1) 1s, switchlogo 3s both 1s;
}

@keyframes star{
    0%{
    -webkit-clip-path: circle(0% at 50% 50%)
    }
    100%{
        -webkit-clip-path: circle(100% at 50% 50%)
        
    }
}


#e{
    fill: #A6192E;
    animation: e 0.7s both cubic-bezier(1, 0, 1, 1.12) 0.2s, switchlogo 3s both 1s;
}

@keyframes e{
    0%{
    -webkit-clip-path: circle(23% at 15% 49%)
    }
    100%{
        -webkit-clip-path: circle(100% at 50% 50%)
    }
}

#starbase{
    fill: #A6192E;
    animation: starbase 0.5s both cubic-bezier(0, 0.94, 0.82, 0.97) 0.9s, switchlogo 3s both 1s;
}

@keyframes starbase{
    0%{
    -webkit-clip-path: circle(0% at 50% 50%)
    }
    100%{
        -webkit-clip-path: circle(100% at 50% 50%)
    }
}

.logopart{
    animation: switchlogo 3s both 1s;
}

@keyframes switchlogo{
    10%{
        fill: white;
    }
    100%{
        fill: white;
    }

}

#background{
    width: 100%;
    height: 100vh;
    background-color: white;
    
}

.background{
    animation: switchbg 3s cubic-bezier(0, 1.01, 1, 1) forwards 1s;
    min-height: 100vh;
}

@media only screen and (max-width: 768px){
    @keyframes switchbg {
        0%{
            -webkit-clip-path: circle(0% at 58% 43%) 
        }
        10%{
        background-color: #A6192E;
        -webkit-clip-path: circle(100% at 58% 43%)
        }
        100%{
           background-color: #A6192E;
          -webkit-clip-path: circle(100% at 58% 43%)
        }
    }
}
@media only screen and (min-width: 768px){
    @keyframes switchbg {
        0%{
            -webkit-clip-path: circle(0% at 59% 31%) 
        }
        10%{
            background-color: #A6192E;
            -webkit-clip-path: circle(100% at 59% 31%)
        }
        100%{
            background-color: #A6192E;
            -webkit-clip-path: circle(100% at 59% 31%)
        }
    }
}

#krullen {
    position: fixed;
    opacity: 10%;
    top: 0px;
    width: 100%;
    height: 100%;
    
}

#krullen img{
    min-width: 101%;
    min-height: 101%;
}

@media only screen and (max-width: 1574px){
    #krullen img{
        height: 101%;
    }
}

#down{
    height: 50px;
    width: 50px;
    position: fixed;
    top: 79%;
    left: 50%;
    transform: translateX(-50%);
    animation: pijl 20s both ease-in-out 7s;
}

@keyframes pijl {
    0%{
        opacity: 0%;
    }
    10%{
        opacity: 100%;
    }
    30%{
        transform: translate(-50%,0px);
    }
    32%{
        transform: translate(-50%,-50px);
    }
    34%{
        transform: translate(-50%,2px);
    }
    44%{
        transform: translate(-50%,0px);
    }
    46%{
        transform: translate(-50%,-50px);
    }
    48%{
        transform: translate(-50%,2px);
    }
    58%{
        transform: translate(-50%,0px);
    }
    60%{
        transform: translate(-50%,-50px);
    }
    62%{
        transform: translate(-50%,2px);
    }
    72%{
        transform: translate(-50%,0px);
    }
    74%{
        transform: translate(-50%,-50px);
    }
    76%{
        transform: translate(-50%,2px);
    }
    81%{
        transform: translate(-50%,0px);
    }
    82%{
        transform: translate(-50%,-50px);
    }
    83%{
        transform: translate(-50%,2px);
    }
    88%{
        transform: translate(-50%,0px);
    }
    89%{
        transform: translate(-50%,-50px);
    }
    90%{
        transform: translate(-50%,2px);
    }
    95%{
        transform: translate(-50%,0px);
    }
    96%{
        transform: translate(-50%,-50px);
    }
    97%{
        transform: translate(-50%,2px);
    }
    99%{
        transform: scale(1);
        transform: translate(-50%,0px);
    }
    100%{
        transform: scale(800%);
        transform: translate(-50%,0px);
    }
}

main{
    /* display: flex; */
    scroll-behavior: smooth;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

section{
    width: 100%;
    position: sticky;
    scroll-snap-align: center;
    height: 100vh;
    
}

#welkom{
    top: 50px;
    height: calc(100vh - 50px)!important;
    margin-bottom: 50px;
}

#welkom article{
    height: 100vh;
    
}

#welkom article h1{
    font-size: 80px;
    width: fit-content;
    padding-top: 70px;
    margin-left: 50%;
    transform: translateX(-50%);
}
#muzieklijsten article{
    height: 100vh;
    background-color: #A6192E;
}

#muzieklijsten article h1{
    font-size: 50px;
    width: fit-content;
    padding-top: 70px;
    margin-left: 50%;
    transform: translateX(-50%);
    color: white;
}

#topleft{
    left: 10px;
    top: 10px;
    position: absolute;
}

#topl{
    top: 12.5px;
    left: 38px;
    position: absolute;
    height: 3px;
    width: calc(100% - 76px);
    background-color: #A6192E;
}

#topright{
    right: 10px;
    top: 10px;
    position: absolute;
}

#rightl{
    right: 10px;
    top: 38px;
    position: absolute;
    width: 3px;
    height: calc(100% - 76px);
    background-color: #A6192E;
}

#bottomright{
    right: 10px;
    bottom: 10px;
    position: absolute;
}

#bottoml{
    bottom: 12.5px;
    left: 38px;
    position: absolute;
    height: 3px;
    width: calc(100% - 76px);
    background-color: #A6192E;
}

#bottomleft{
    left: 10px;
    bottom: 10px;
    position: absolute;
}

#leftl{
    left: 10px;
    top: 38px;
    position: absolute;
    width: 3px;
    height: calc(100% - 76px);
    background-color: #A6192E;
}

#titlerule{
    height: 30px;
    width: 400px;
    padding-left: 100%;
    transform: translateX(-50%);
}

#heraut{
    display: inline;
}

#introductie {
    font-size: 40px;
    height: 75px;
    text-align: left;
    margin-left: 50%;
    transform: translateX(-50%);
    min-width: 72%;
    max-width: 1800px;
}

#introductie p{
    display: inline;
    padding-left: 10px;
    position: absolute;
    width: content-fit;
}

@media only screen and (max-width: 768px){
    #welkom article h1{
        font-size: 60%;
    }
    #titlerule{
        width: 60%;
    }
    #introductie p{
        text-align: center;
        left: 50%;
        font-size: 30px;
        transform: translateX(-50%);
        width: 100%;
    }
    #heraut{
        margin-left: 10px;
    }
    #heraut svg{
        width: 30px;
        transform: translateY(-10px);
    }
}
/* ============================================== */






/* navigatie */

#navbar {
    background-color: #A6192E;
    width: 100%;
    left: 0px;
    position: absolute;
    height: 50px;
    display: none;
}


.navbar a {
    float: right;
    font-size: 20px;
    color: white;
    text-align: center;
    padding-left: 16px;
    padding-right: 16px;
    text-decoration: none;
    position: relative; 
    padding-top: 10px;


}

#currentpage {
    border-bottom-color: white;
    border-bottom: 8px;
    border-bottom-style: solid;
    padding-bottom: 0px;
}

.dropdown {
    float: right;
}

.dropbtn {
    font-size: 20px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 10px;
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    font-family: inherit; 
    margin: 0; 
    position: relative; 
    height: 42px;
    
}

.navbar a:hover, .dropdown:hover .dropbtn {
    opacity: 70%;
}

.dropdown-content a {
    float: none;
    color: white;
    text-decoration: none;
    display: block;
    text-align: left;
    top: 10px;
    z-index: 4;
}
  
.dropbtn:hover ~ .dropdown-content {
    display: block;
}
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display:  none;
    position: fixed;
    height: 40px;
    background-color: #A6192E;
    min-width: 160px;
    box-shadow: 0px 18px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content div:hover{
    display: block;
}

#naam {
    left: 8px;
    color: white;
    position: relative;
    font-weight: bold;
    font-size: 20px;
    margin: 0px;
    top: 15px;
    width: 120px;
}

#menu {
    margin: 10px;
    height: 30px;
    width: 30px;
    content:url("menu.svg");
    z-index: 3;
    fill: red;
    display: none;

}

.showmenu1 {
	animation: showmenu1 0.6s ease-in both;
}

@keyframes showmenu1 {
    from {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    to {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        content:url("exit.svg");
    }
  }


.banner{
    width: 100%;
    display: block;

}

.bannerimg{
    background: url('banners/Banner1.jpg') no-repeat center;
    height: 380px;
    object-fit: cover;
    background-size: cover;
    background-attachment: fixed;
} 

.mobilenav {
    width: 250px;
    background-color: #A6192E;
    height: 100%;
    position: fixed;
    z-index: 2;
    display: none;
}

.showmenu2 {
    animation: showmenu2 0.5s ease-out both;
    display: block;
}

@keyframes showmenu2 {
    from{
        -webkit-transform: translateX(-250px);
            transform: translateX(-250px);
    }
    to{
        -webkit-transform: translateX(0);
            transform: translateX(0);
    }
}

.hidemenu1{
    animation: hidemenu1 0.6s ease-in both;
}

@keyframes hidemenu1 {
    from {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        content:url("exit.svg");
    }
    to {
        -webkit-transform: rotate(0);
        transform: rotate(0);
        content:url("menu.svg");
    }
  }

.hidemenu2{
    animation: hidemenu2 0.5s ease-out both;
}

@keyframes hidemenu2 { 
    from{
        -webkit-transform: translateX(0);
            transform: translateX(0);
            display: block;
    }
    99%{
        display: block; 
    }
    to{
        -webkit-transform: translateX(-250px);
            transform: translateX(-250px);
    }
}

.mobilenav ul{
    margin-left: 0px;
    position: relative;
    top: 40px;
    padding: 0px;
}
.mobilenav ul li{
    list-style: none;
    margin-bottom: 15px;
}

.mobilenav ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding-left: 40px;
}

#m_subnav {
    margin-left: 20px;
    margin-top: -5px;
}

.m_current{
    font-weight: bold;
    border-left-color: white;
    border-left: 8px;
    border-left-style: solid;
    padding-left: 32px!important;
    
}


@media only screen and (max-width: 480px) {  /*Weergave op telefoons */
    .banner{
        display: none;
    }
}

@media only screen and (max-width: 768px) {  /*Weergave op tablets */
    .disclaimer p{
        width: 90%;
    }

    .navbar a{
        display: none;
    }

    .dropbtn{
        display: none;
    }

    #menu{
        display: inline;
        position: fixed;
    }

    #naam {
        left: 50px;
    }

}
