*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    
}

body{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

#logo{
    height: 100px;
    width: 300px;
    left: 50%;
    transform: translate(-50%,-20px);
    position: fixed;
}

header{
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100vw;
    height: 50px;

}

#player{
    height: 100px; 
    max-width: 178px;
    min-width: 100px;
}

#placeholder{
    position: fixed;
    height: 100px;
    width: 178px;
    background-color: black;
    z-index: 10;
}

.hoverplay{
    opacity:0;
    position:absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: .25s ease;
}
.playerbutton{
    display:block;
}

.playerbutton:hover .hoverplay{
    opacity:1;
}
  
#playmenu{
    position: relative;
    margin-left: 50%;
    margin-right: auto;
    display:block;
}

.controlls{
    display: inline-block;
}

#playpause{
    min-width: 100px;
    width: calc((100vw - 778px)/2);
    position: absolute;
    left: 178px;
    top: 0px;
}

#play {
    position: relative;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);


}

#pause {
    position: relative;
    top: 0px;
    display: none;
    left: 50%;
    transform: translateX(-50%);
}

#skip{
    width: calc((100vw - 1000px)/2);
    position: relative;
    left: calc(((100vw - 778px)/2) + 400px);
    min-width: 100px;
}

#nextvideo{
    margin-left: 50%;
    transform: translateX(-50%);
}


@media only screen and (max-width:1153px){
    #playpause{
        width: 100px;
        left: 160px;
        margin: 0;
        
    }
    #skip{
        width: 100px;
        left: 230px;
        margin-left: 0px;
        position: fixed;
        top: calc(100% - 100px)
    }
}

.miniplayer{
    background-color:#eeeeee;
    position: fixed;
    height: 100px; 
    width: 100%;
    bottom: 0px;
}

#bar{
    width:300px;
    height:20px;
    background-color: white;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    border-radius: 10px;
    z-index: 12;
}
   
#progress {
    width:100%;
    height:20px;
    position: relative;
    left: 0;
    top: 0px;
    margin: 0;
    background-color: #A6192E;
    border-radius: 10px;
    clip-path: inset(0 0 0 100% );
}
    
@media only screen and (max-width: 934px){
    #bar{
        width: 100vw;
        position: fixed;
        top: calc(100vh - 10px);
        border-radius: 0px;
    }
    #progress{
        width: 100vw;
        border-radius: 0px;
    }
    #currentvideo{
        display: none;
    }
}

#playlist{
    height: 100px;
    width: 300px;
    right: 0px;
    position: absolute;
    top: 0px;
}

.p{
    height: 20px;
    width: 300px;
    display: inline;
}

.pli{
    text-align: center;
    white-space: nowrap;
}

.plr{
    display: none;
    float: left;
    left: 0px;
    position: relative;
}

#wachtrijcount{
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}

@media only screen and (max-width: 607px){
    .p{
        display: none;
    }
    #playlist{
        width: 160px;
    }
    #wachtrijcount{
        text-align: center;
        margin-top: 40px;

    }
}

@media only screen and (max-width: 469px){
    #playlist{
        width: 60px
    }
    #wachtrijcount{
        transform: rotate(90deg);
        width: 80px;
        font-size: 13px;

    }
}

@media only screen and (max-width: 342px){
    #wachtrijcount{
        display: none;
    }
}


#currentvideo{
    position: fixed;
    bottom: 65px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    font-size: 20px;
    width: 100vw;
    left: 0px;
}

#table{
    position: absolute;
    margin-top: 70px;
    width:100%
}

/* Navigatie */

#navbar {
    background-color: #A6192E;
    width: 100vw;
    left: 0px;
    position: absolute;
    height: 50px;
}


.navbar a {
    float: right;
    font-size: 20px;
    color: white;
    text-align: center;
    padding-left: 16px;
    padding-right: 16px;
    text-decoration: none;
    position: relative; 
    padding-top: 10px;


}

#currentpage {
    border-bottom: 8px white;
    border-bottom-style: solid;
    padding-bottom: 0px;
}

.dropdown {
    float: right;
}

.dropbtn {
    font-size: 20px;
    padding-left: 16px;
    padding-right: 16px;
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    font-family: inherit; 
    margin: 0; 
    position: relative; 
    height: 42px;
    
}

.navbar a:hover, .dropdown:hover .dropbtn {
    opacity: 70%;
}

.dropdown-content a {
    float: none;
    color: white;
    text-decoration: none;
    display: block;
    text-align: left;
    z-index: 4;
}
  
.dropbtn:hover ~ .dropdown-content {
    display: block;
}
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display:  none;
    position: fixed;
    height: 40px;
    background-color: #A6192E;
    min-width: 160px;
    box-shadow: 0px 18px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
}

.dropdown-content div:hover{
    display: block;
}

#naam {
    left: 8px;
    color: white;
    position: relative;
    font-weight: bold;
    font-size: 20px;
    margin: 0px;
    top: 15px;
    width: 120px;
}

#menu {
    margin: 10px;
    height: 30px;
    width: 30px;
    content:url("menu.svg");
    z-index: 3;
    fill: red;
    display: none;

}

.showmenu1 {
	animation: showmenu1 0.6s ease-in both;
}

@keyframes showmenu1 {
    from {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    to {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        content:url("exit.svg");
    }
  }


.banner{
    width: 100%;
    display: block;

}

.bannerimg{
    background: url('banners/Banner1.jpg') no-repeat center;
    height: 380px;
    object-fit: cover;
    background-size: cover;
    background-attachment: fixed;
} 

.mobilenav {
    width: 250px;
    background-color: #A6192E;
    height: 100%;
    position: fixed;
    z-index: 2;
    display: none;
}

.showmenu2 {
    animation: showmenu2 0.5s ease-out both;
    display: block;
}

@keyframes showmenu2 {
    from{
        -webkit-transform: translateX(-250px);
            transform: translateX(-250px);
    }
    to{
        -webkit-transform: translateX(0);
            transform: translateX(0);
    }
}

.hidemenu1{
    animation: hidemenu1 0.6s ease-in both;
}

@keyframes hidemenu1 {
    from {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        content:url("exit.svg");
    }
    to {
        -webkit-transform: rotate(0);
        transform: rotate(0);
        content:url("menu.svg");
    }
  }

.hidemenu2{
    animation: hidemenu2 0.5s ease-out both;
}

@keyframes hidemenu2 { 
    from{
        -webkit-transform: translateX(0);
            transform: translateX(0);
            display: block;
    }
    99%{
        display: block; 
    }
    to{
        -webkit-transform: translateX(-250px);
            transform: translateX(-250px);
    }
}

.mobilenav ul{
    margin-left: 0px;
    position: relative;
    top: 40px;
    padding: 0px;
}
.mobilenav ul li{
    list-style: none;
    margin-bottom: 15px;
}

.mobilenav ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding-left: 40px;
}

#m_subnav {
    margin-left: 20px;
    margin-top: -5px;
}

.m_current{
    font-weight: bold;
    border-left-color: white;
    border-left: 8px;
    border-left-style: solid;
    padding-left: 32px!important;
    
}


@media only screen and (max-width: 480px) {  /*Weergave op telefoons */
    .banner{
        display: none;
    }
}

@media only screen and (max-width: 768px) {  /*Weergave op tablets */
    .disclaimer p{
        width: 90%;
    }

    .navbar a{
        display: none;
    }

    .dropbtn{
        display: none;
    }

    #menu{
        display: inline;
        position: fixed;
    }

    #naam {
        left: 50px;
    }

}
